@model Model.EF.Nguoidung

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="fresh-vegetables">
    <div class="container">
        <div class="w3l_fresh_vegetables_grids">

            <div class="col-md-9 w3l_fresh_vegetables_grid_right">
                <div class="col-md-4 w3l_fresh_vegetables_grid">
                    <div class="w3l_fresh_vegetables_grid1">
                        @using (Html.BeginForm("Edit", "Nguoidung", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                             <table>
                                <tr>
                                    <td>@Html.LabelFor(model => model.Ten_ND)</td>
                                    <td>@Html.TextBoxFor(model => model.Ten_ND)</td>
                                </tr>
                                 <tr>
                                     <td>@Html.LabelFor(model => model.Tuoi)</td>
                                     <td>@Html.EditorFor(model => model.Tuoi)</td>
                                 </tr>
                                 <tr>
                                     <td>@Html.LabelFor(model => model.Gioitinh)</td>
                                     <td>@Html.EditorFor(model => model.Gioitinh)</td>
                                 </tr>
                                 <tr>
                                     <td>@Html.LabelFor(model => model.Chieucao)</td>
                                     <td>@Html.EditorFor(model => model.Chieucao)</td>
                                 </tr>

                                 <tr>
                                     <td>@Html.LabelFor(model => model.Cannang)</td>
                                     <td>@Html.EditorFor(model => model.Cannang)</td>
                                 </tr>
                                 <tr>
                                     <td>@Html.LabelFor(model => model.Email)</td>
                                     <td>@Html.EditorFor(model => model.Email)</td>
                                 </tr>
                                 <tr>
                                     <td>@Html.LabelFor(model => model.Matkhau)</td>
                                     <td>@Html.EditorFor(model => model.Matkhau)</td>
                                 </tr>
                                
                                 </table>

                                @Html.HiddenFor(model => model.ID_Nguoidung)

                               
                                <p>
                                    <input type="submit" value="Save" />
                                </p>
                           
                        }

                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<link href="~/Asset/client/cssfix/fixForUsers.css" rel="stylesheet" />
<link href="~/Asset/client/cssfix/fixstyle.css" rel="stylesheet" />