@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model Model.EF.Nguoidung

@section header{
    Nhập thông tin người dùng.
}
@section jsCarday{
    <script src="/Asset/admin/js/Carday/calendar-en.min.js"></script>
    <script src="/Asset/admin/js/Carday/jquery.dynDateTime.min.js" type="text/javascript"></script>
    <script src="/Asset/admin/js/Carday/calendar-en.min.js" type="text/javascript"></script>
    <link href="/Asset/admin/js/Carday/calendar-blue.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#TextBox1").dynDateTime({
                showsTime: true,
                ifFormat: "%Y-%m-%d %H:%M",
                daFormat: "%l;%M %p, %e %m, %Y",
                align: "BR",
                electric: false,
                singleClick: false,
                displayArea: ".siblings('.dtcDisplayArea')",
                button: ".next()"
            });
        });
    </script>
}
@section jsFooter{
    <script>

        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="card">
                <div class="card-header">
                    Nhập thông tin.
                </div>
                <div class="card-body">
                    <div class="col-lg-6">
                        @using (Html.BeginForm("Create", "Nguoidung", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <div class="editor-label">
                                    Tài khoản
                                </div>
                                @Html.TextBoxFor(model => model.Taikhoan, new { @class = "form-control", @placehoder = "", @autofocus = "autofocus" })
                                @Html.ValidationMessageFor(model => model.Taikhoan, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <div class="editor-label">
                                    Mật khẩu
                                </div>
                                <div class="editor-field">
                                    @Html.PasswordFor(model => model.Matkhau, new { @class = "form-control", @placehoder = "", @autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(model => model.Matkhau)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="editor-label">
                                    Mật khẩu xác nhận
                                </div>
                                <div class="editor-field">
                                    @Html.PasswordFor(model => model.Matkhauxacnhan, new { @class = "form-control", @placehoder = "", @autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(model => model.Matkhauxacnhan)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="editor-label">
                                    Tên người dùng
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.Ten_ND, new { @class = "form-control", @placehoder = "", @autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(model => model.Ten_ND)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="editor-label">
                                    Tuổi
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.Tuoi, new { @class = "form-control", @placehoder = "", @autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(model => model.Tuoi)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="editor-label">
                                    Giới tính
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.Gioitinh, new { @class = "form-control", @placehoder = "", @autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(model => model.Gioitinh)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="editor-label">
                                    Chiều cao
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.Chieucao, new { @class = "form-control", @placehoder = "", @autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(model => model.Chieucao)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="editor-label">
                                    Cân nặng
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.Cannang, new { @class = "form-control", @placehoder = "", @autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(model => model.Cannang)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="editor-label">
                                    Email
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placehoder = "", @autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="editor-label">
                                    Calories trong ngày
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.CaloriesTrongngay, new { @class = "form-control", @placehoder = "", @autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(model => model.CaloriesTrongngay)
                                </div>
                            </div>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Status)
                                </div>
                                <div class="editor-field">
                                    @Html.CheckBoxFor(model => model.Status, new { @class = "form-control", @placehoder = "", @autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(model => model.Status)
                                </div>
                                <button type="submit" class="btn btn-primary btn-block"> Tạo </button>

                                }
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>





