@model PagedList.IPagedList<Model.EF.Nguoidung>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Danh sách người dùng
}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="nav-item">
        @using (Html.BeginForm("Index", "Nguoidung", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0 mr-lg-2" }))
        {
            <div class="input-group">
                <input name="searchString" value="@ViewBag.SearchString" class="form-control" type="text" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
            <div class="col-md-4 offset-md-4">
                <a href="/Admin/Nguoidung/Create" class="btn btn-success">Thêm người dùng</a>
            </div>

        }

    </li>
</ol>
<!-- Icon Cards-->
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Thông tin
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tài khoản</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Tuổi</th>
                        <th scope="col">Giới tính</th>
                        <th scope="col">Chiều cao</th>
                        <th scope="col">Cân nặng</th>
                        <th scope="col">Email</th>
                        <th scope="col">Calories Trong ngày</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr id="row_@item.ID_Nguoidung">

                            <td>
                                <a href="/Admin/Nguoidung/Edit/@item.ID_Nguoidung">Sửa</a>
                                @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID_Nguoidung }, new AjaxOptions
                           {
                               Confirm = "Bạn có muốn xóa bản ghi này?",
                               OnComplete = "$('#row_" + @item.ID_Nguoidung + "').remove()",
                               HttpMethod = "Delete"
                           })

                            </td>
                            <td>@item.Taikhoan</td>
                            <td>@item.Ten_ND</td>
                            <td>@item.Tuoi</td>
                            <td>@item.Gioitinh</td>
                            <td>@item.Chieucao</td>
                            <td>@item.Cannang</td>
                            <td>@item.Email</td>
                            <td>@item.CaloriesTrongngay</td>
                            <td>@item.Status</td>
                        </tr>
                    }
                </tbody>
            </table>

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))

        </div>
    </div>
</div>
