@{
    Layout = null;
}
@{
    var session = (Doandinhduong.Areas.Admin.Common.UserLoginSS)Session[Doandinhduong.Common.CommonConstants.USER_SESSION];
}
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Sức khỏe là vàng</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="/Asset/client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Asset/client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome icons -->
    <link href="/Asset/client/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Asset/client/css/jquery-ui.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="/Asset/client/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="/Asset/client/js/move-top.js"></script>
    <script type="text/javascript" src="/Asset/client/js/easing.js"></script>
    <script src="/Asset/client/js/jquery-ui.js"></script>
    <link href="/Asset/client/cssfix/fixfont.css" rel="stylesheet" />
    <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
    <!-- header -->
    <div class="agileits_header">
        <div class="w3l_offers">
            @if (session == null)
            {
                <a href="/gianh-cho-ban" class="goodforyou">Giành cho bạn!</a>
            }
            else
            {
                
                <a href="/gianh-cho-ban/@session.UserName" class="goodforyou">Giành cho bạn!</a>
            }
            
        </div>
        <div class="w3l_search">
            <form action="/tim-kiem" method="get">
                <input type="text" id="txtKeyword" name="keyword" value="" onfocus="this.value = '';"  placeholder=" tìm kiếm thực phẩm..." />
                <input type="submit" value=" ">
            </form>
        </div>
       
        <div class="w3l_header_right">
            <ul>
                
                @if (session == null)
                {
                    <li class="dropdown profile_details_drop">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><span class="caret"></span></a>
                    <div class="mega-dropdown-menu">
                        <div class="w3ls_vegetables">
                            <ul class="dropdown-menu drp-mnu">
                                <li><a href="/dang-nhap">Đăng nhập</a></li>
                                <li><a href="/dang-ky">Đăng ký</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                }
                else
                {
                    
                    <li class="dropdown profile_details_drop">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><span class="caret"></span></a>
                    <div class="mega-dropdown-menu">
                        <div class="w3ls_vegetables">
                            <ul class="dropdown-menu drp-mnu">
                                <li>Xin chào:@session.UserName</li>
                                <li>@Html.ActionLink("Thông tin cá nhân", "ThongtinNguoidung", "Nguoidung", new { id = @session.UserID }, new AjaxOptions { HttpMethod = "GET" })</li>
                                <li>@Html.ActionLink("Thoát", "Logout", "LoginRegister")</li>
                            </ul>
                        </div>
                    </div>
                </li>
                }

                
            </ul>
        </div>
        <div class="w3l_header_right1">
            <h2><a href="/lien-he">Liên hệ</a></h2>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- script-for sticky-nav -->
    <script>
	$(document).ready(function() {
		 var navoffeset=$(".agileits_header").offset().top;
		 $(window).scroll(function(){
			var scrollpos=$(window).scrollTop();
			if(scrollpos >=navoffeset){
				$(".agileits_header").addClass("fixed");
			}else{
				$(".agileits_header").removeClass("fixed");
			}
		 });

	});
    </script>
    <!-- //script-for sticky-nav -->
    @{Html.RenderAction("MainMenu", "Home");}
    <!-- //header -->
    <!-- banner -->
    @RenderBody()
    <!-- footer -->
    <div class="footer">
        <div class="container">
            @{Html.RenderAction("Footer", "Home");}
        </div>
    </div>
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    <script src="/Asset/client/js/bootstrap.min.js"></script>
    <script>
$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );
});
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
    </script>
    <!-- //here ends scrolling icon -->
    <script src="/Asset/client/js/minicart.js"></script>
    <script>
		paypal.minicart.render();

		paypal.minicart.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});

    </script>
    <script src="/Asset/client/js/controller/baseController.js"></script>
    <script src="/Asset/client/js/controller/userController.js"></script>
    <script src="~/Asset/client/js/controller/ChartController.js"></script>

    <script src="~/Asset/client/js/controller/Chart.min.js"></script>
    <link href="/Asset/client/cssfix/fixbody.css" rel="stylesheet" />
    @RenderSection("fixstyle", required: false)

</body>
</html>
